<img src="./sharif.png" alt="SUT logo" width=300 height=300 align=left class="saturate">

<br>
<font>
<div dir=ltr align=center>
<font color=0F5298 size=7>
    Database Design <br>
<font color=2565AE size=5>
    CE Department <br>
    Spring 2024 - Dr. Maryam Ramezani<br>
<font color=3C99D size=5>
    HW4 Practical<br>
<font color=696880 size=4>
    Shahab Hosseini - Arshia Dadras - Amirmahdi Daraei - Helia Akhtarkavian - Shayan Shabani

____

# Personal Data

In [1]:
Name = ''
Student_Number = ''

# Introduction
In this assignment, you will work with a dataset to practice your skills in MongoDB and PyMongo. The dataset will be provided in JSON format, and your task is to import the data into a MongoDB collection and perform a series of queries to extract meaningful information. This assignment will help you understand how to interact with MongoDB using Python, execute various queries, and analyze the results.

# Import Library

In [ ]:
! pip install pymongo
import requests
from pymongo import MongoClient

# Load Dataset
Load the provided JSON dataset in this url: https://randomuser.me/api/?nat=ir&results=X into a MongoDB collection. X represents the number of random users generated. You should sample around 10,000 users

The dataset contains information about a sample person. Each document in the collection has the following structure:

1. gender: male/female (forever;).
2. name: consisted of title, first, and last.
3. location: consisted of city, state, country, coordinates(latitude and longitude), timezone(offset and description), street(name and number), and postcode.
4. email
5. login: consisted of uuid, username, password, salt, md5, sha1, and sha256.
6. dob (Date of Birth): consisted of date and age.
8. registered (Date of Registration): consisted of date and age.
9. phone: home phone number
10. cell: cell phone number
11. Others are not important ...

You will definitely need this workshop: https://drive.google.com/drive/folders/1rRxZcTRMRi_cDWpopCkZc1dPz3zgr93d?usp=sharing

# Data Analysis
Explore the loaded data, explore the fields for a sample user object. Also show the total number of random users.

# Query the Database
For each of the following tasks, report the run time of the query in addition to its result

#### 1. Calculate the number of people registered in less than 10 years (from now) and aged more than 40 years

#### 2. Calculate the number of people registered in the same month of their date of birth

#### 3. Calculate the number of people that their postcode and their street number are either both odd or both even.

#### 4. Calculate the number of people that their coordinates's longitude has a higher absolute value than their coordinate's latitude

#### 5. List the female users living in Tehran with their username containing "wolf" or "bear"

#### 6. Check which city has the highest number of users and which has the lowest number

#### 7. Calculate the number of users born in each decade (from 1920 to 1990)

#### 8. Show the full name (first name + last name) for each user, sorted by last name

#### 9. Show the users that their first name is consisted of more than one word. For example Amir hossein

#### 10. If we divide users into these three groups (Children: 3-16, Young Adults: 17-30, Middle-Aged Adults: 30-60, Old Adults: 60 or more) list the age-group and city of all male users living in a timezone with its offset more than +6 or less than -9